<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the tech blob</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">welcome to the tech blob</a>
            </h1>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Created by <a href='https://github.com/wolfgarb'>wolfgarb</a>
        </footer>
    </div>

</body>

</html>